/* Colors ------------------------- */
$mn-primary-color: #1890ff;
$mn-background-color: #d9d9d9;

/* Screens
  * ------------------------- */
$mn-screen-xs: 360px;
$mn-screen-sm: 768px;
$mn-screen-md: 992px;
$mn-screen-lg: 1280px;
$mn-screen-xlg: 1440px;
$mn-screen-fhd: 1920px;
$mn-screen-2k: 2048px;
$mn-screen-4k: 3840px;
$mn-screen-max-container: 1140px;

/* Misc
    * ------------------------- */
$mn-border-radius: 4px;
$mn-zindex-1: 1;
$mn-zindex-5: 5;
$mn-zindex-10: 10;
$mn-zindex-100: 100;
$mn-zindex-1000: 1000;
$mn-zindex-overlay: 10000;

/* Spacings
    * ------------------------- */
$mn-spacing-xxsmall: 4px;
$mn-spacing-xsmall: 8px;
$mn-spacing-small: 12px;
$mn-spacing-base: 16px;
$mn-spacing-medium: 20px;
$mn-spacing-large: 24px;
$mn-spacing-xlarge: 28px;
$mn-spacing-xxlarge: 32px;
$mn-spacing-xxxlarge: 40px;
$mn-spacing-xxxxlarge: 48px;
$mn-spacing-giant: 64px;
$mn-spacing-xgiant: 80px;

/* Font-Size
    * ------------------------- */
$mn-spacing-xsmall: 0.4rem;
$mn-spacing-base: 1.6rem;
